@media (max-width: 900px) {
    form {
        margin: 40px auto;
        padding: 24px;
    }

    form h1 {
        font-size: 24px;
    }
    
    form fieldset {
        margin-top: 24px;
    }

    form legend h2 {
        font-size: 18px;
    }

    form .field-group {
        display: initial;
    }

    form input, select {
        padding: 16px 16px;
    }

    form .field-group .field + .field {
        margin-left: 0px;
    }
    .items-grid {
        grid-template-columns: 1fr 1fr;
    }

    .items-grid li {
        padding: 32px 18px 16px;
    }
    
    form button {
        width: 230px;
    }
}