


body::after {
    content:"";
    position: absolute;
    background: white;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 16rem;
    z-index: -1;
}


#page-search-results {
    width: 90%;
    max-width: 1100px;

    margin: 0 auto;

}

#page-search-results header {
    margin-top: 35px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-search-results header a {
    color: var(--title-color);
    font-weight: bold;

    display: flex;
    align-items: center;
}

#page-search-results header a span {
    margin-right: 16px;
    background-image: url('../assets/arrow-left.svg');

    display: flex;

    width: 20px;
    height: 24px;
}
main .cards .card:hover {

    padding: 10px;
    border-radius: 16px;
    background-color: var(--color-hover);
   
}
main {

    margin: 10%;

    padding-top: 100px;
    padding-left: 10px;
    justify-content: space-between;
    justify-content: center;
}

main h4 {
    font-weight: normal;
    font-family: roboto, sans-serif;

    margin-bottom: 32px;

}

main .cards {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 24px;

}


main img {

    margin-left: 28px;
    width: 200px;
    height: 200px;

    border-radius: 50px 50px 50px 50px;


}


main .card h1 {

    margin: 32px;

    font-size: 24px;
    line-height: 41px;
    color: #322153;
}

main .card h3 {
    margin: 24px 0;
    font-family: roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 34px;

    color: var(--primary-color);
}

main .card p {
    font-size: 16px;
    line-height: 26px;

    color: #6c6c80;
}

